body{
    background-image:url('https://previews.123rf.com/images/cherezoff/cherezoff1801/cherezoff180101179/94363168-abstract-math-number-background-black-and-white-colors-random-sign-flying.jpg');
    background-size: 100%;
   
    
}
h1{
    text-align: center;
     font-family: "Georgia", serif;
     font-size: 40px;
    font-weight: bold;
    color: #ff0000;
}
.main{
    text-align: center;
    
}


#output{
    height:30px;
    width:300px;
    padding:10px;
    
    font-family:cursive;
    border:5px solid black;
    
    border-radius: 30px;
    font-size:larger;
    text-align: right;

}
.btn{
 height:70px;
 width:100px;
 border-radius:30px;
 background-color: beige;
 color:black;
 font-size: larger;
 box-shadow: 2px 2px 2px black;
}
.btn:hover{
 background-color:rgb(67, 63, 63);
 color:white;
 font-size: larger;
 box-shadow: 2px 2px 2px black;
    
}
.line{
  padding:7px;
}

.eq{
    color:rgb(201, 75, 100);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large ;
    
}
.operator{
    color: blue;
}
.del{
    width:80px;
    height: 60px;
    color:aquamarine;  
}
